<% @doctor.appointments.each do |appointment| %>
  <ul>
    <li><%= appointment.human_time %></li>
    <li><%= link_to appointment.patient.name, patient_path(appointment.patient) %></li>
  </ul>
<% end %>
